body {
  margin: 0;
}

Header {
  background-color: darksalmon;
}

span {
  width: 17px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: inline-block;
  cursor: pointer;
  background-color: crimson;
  color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: burlywood;
}
